<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <div class="row my-3">
        <div th:if="${alertMessage}" class="alert alert-warning" role="alert">
            <span th:text="${alertMessage}"></span>
        </div>
        <p>
            <span style="font-size:25px; border-radius: 15px 15px 15px 0; border: 5px solid #9277EF; padding: 0.3em 0.4em; color: #9277EF;">
            상품존
            </span>
        </p>
        <div class="col-6">
            <a th:href="@{/board/itemCreate}" class="btn btn-outline-primary" style="margin-right:120px;">글작성</a>
            <a th:href="@{/board/list}" class="btn btn-outline-primary" style="margin-right:20px;">소식 및 정보</a>
            <a th:href="@{/board/itemList}" class="btn btn-primary">상품존</a>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>상품</th>
            <th>추천</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="board, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/board/itemDetail/${board.id}|}" th:text="${board.title}"></a>
                <span class="text-danger small ms-2" th:if="${#lists.size(board.commentList)>0}"
                      th:text="|⌨️${#lists.size(board.commentList)}|">
                </span>
            </td>
            <td>
                <span th:if="${board.itemList.size() > 0}" th:text="|🎁${board.itemList.size()}|"></span>
            </td>
            <td>
                <span th:if="${board.ddabong.size() > 0}" th:text="|❤${board.ddabong.size()}|"></span>
            </td>
            <td><span th:if="${board.author != null}" th:text="${board.author.username}"></span></td>
            <td th:text="${#temporals.format(board.postDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'"> <!--이전 페이지가 있는지 확인-->
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item"> <!--현재 페이지-->
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'"> <!--다음 페이지-->
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/board/itemList}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
</html>
